{% extends "base.html" %}

{% block title %}Hot Topic{% endblock %}

{% block content %}
<table class="data">
	<thead>
		<tr>
			<th>word_id</th>
			<th>value</th>
                        <th>part_of_speech</th>
                        <th>weight</th>
		</tr>
	</thead>
	
	<tbody>
               {% for word in words %}
		<tr>
			<td>{{word.id}}</td>
			<td>{{word.value}}</td>
                        <td>{{word.part_of_speech}}</td>
                        <td>{{word.total_weight}}</td>
		</tr>
               {% endfor %}
	</tbody>
</table>
{% endblock %}
