{% extends "hot/hot_base.html" %}

{% block title %}Hot Topic{% endblock %}
{% block grid_title %}传播分析{% endblock %}

{% block grid_content %}
<div id="content" class="xgrid">
<div id="welcome" class="x12">
<table class="stats" data-chart="line">
	
	<caption>传播分析(报道数量)</caption>

	<thead>
		<tr>
			<td> </td>
			{% for date in dates %}
			<th>{{date}}</th>
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
			{% for result in results%}
			<tr>
				<th>{{result.0}}</th>
					{% for x in result.1 %}
						<td>{{x}}</td>
					{% endfor %}
			</tr>
			{%endfor%}
	
	</tbody>
	
</table>
</div>
</div>

<body>
请选择需要分析的网站：<br>
<form method = "post" accept-charset="utf-8">{% csrf_token %}
{%for website in websites%}
<input type="checkbox" name={{website}} value ={{website}} >{{website}}
{%endfor%}

<input align="right" class="btn-icon  btn-grey btn-comment" type="submit" value="分析">
</form>
</body>

{% endblock %}
