<div class="content_pad">
			<h1><a href="/">Collection System Admin</a></h1>
			
			<ul id="nav">
				<li id="nav_news" class="nav_icon"><a href="/news/"><span class="ui-icon ui-icon-home"></span>最新與情</a></li>
			<li id="nav_classify" class="nav_icon"><a href="/classify/"><span class="ui-icon ui-icon-gear"></span>與情分类</a></li>
			<li id="nav_hot" class="nav_icon"><a href="/hot/"><span class="ui-icon ui-icon-gear"></span>热点分析</a></li>

				<li id="nav_competitor" class="nav_icon"><a href="/competitor/"><span class="ui-icon ui-icon-gear"></span>竞争对手與情</a></li>
				
	<li id="nav_search" class="nav_icon"><a href="/search/"><span class="ui-icon ui-icon-gear"></span>與情检索</a></li>
				
			</ul>
</div>
