<div id="top" >
<div class="content_pad">
	<ul class="right">
		{% if user.is_authenticated %}
		<li><a href="javascript:;" class="top_icon"><span class="ui-icon ui-icon-person"></span>Logged in as {{user}}</a></li>
		<li><a href="javascript:;" class="new_messages top_alert">1 New Message</a></li>
		<li><a href="/static/pages/settings.html">Settings</a></li>
		<li><a href="/static/index.html">Logout</a></li>
		{% else %}
		<li><a href="javascript:;" class="top_icon"><span class="ui-icon ui-icon-person"></span>You haven't logged in</a></li>
	{% endif %} 
	</ul>
</div>
</div>
