{% extends "competitor/competitor_base.html" %}
{% block grid_content %}
<div id="wrapper">
	
	<div id="content" class="xgrid">
		
		<div class="x12">
			
			<div class="apg-mini apg-mini-4">
			<center>
			<table>
				<tr>
				<td><div class="apg-option ">
				
				<div class="apg-header">
		
					<h1>苏宁易购</h1>
				</div>
				
				<div class="apg-content">
				<p>重点监控新浪，网易，凤凰等主流新闻媒体.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
				</ul>
				</div>
			</div></td>
				<td><div class="apg-option ">
				
				<div class="apg-header">
					<h1>国美</h1>	
				</div>
				
				<div class="apg-content">
		
				<p>重点监控网易，新浪等主流博客，获取最新舆情.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
				</ul>
				</div>
			</div></td>
				<td><div class="apg-option ">
				
				<div class="apg-header">
					<h1>天猫</h1>
				</div>
				
				<div class="apg-content">
				<p>重点监控百度帖，京东商城官方论坛等主流论坛.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
				</ul>
				</div>
			</div></td>
				</tr>
				<br/>
				<tr>
				<td><div class="apg-option ">
				
				<div class="apg-header">
		
					<h1>亚马逊</h1>
				</div>
				
				<div class="apg-content">
				<p>重点监控新浪，网易，凤凰等主流新闻媒体.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
				</ul>
				</div>
			</div></td>
				<td><div class="apg-option ">
				
				<div class="apg-header">
					<h1>腾讯拍拍</h1>	
				</div>
				
				<div class="apg-content">
		
				<p>重点监控网易，新浪等主流博客，获取最新舆情.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
				</ul>
				</div>
			</div></td>
				<td><div class="apg-option ">
				
				<div class="apg-header">
					<h1>凡客</h1>
				</div>
				
				<div class="apg-content">
				<p>重点监控百度帖，京东商城官方论坛等主流论坛.</p>
				
				<ul>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
		
					<li><strong><a href="www.baidu.com">京东骗人的狗东西</a></strong></li>
				</ul>
				</div>
			</div></td>
				</tr>
			</table>	
			</center>
		</div>		
		</div> <!-- .x12 -->
	</div> <!-- #content -->	
</div> <!-- #wrapper -->
{% endblock %}
