{% if jobs %}
<h2>Jobs</h2>
{% if jobs.status == 'ok' %}
<table class="data display datatable">
	<thead>
		<tr>
			<th>Job Id</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for job in jobs.pending %}
		<tr>
			<td>{{ job }}</td>
			<td class="center">pending</td>
		</tr>
		{% endfor %}

		{% for job in jobs.running %}
		<tr>
			<td> {{ job }}</td>
			<td class="center">running</td>
		</tr>
		{% endfor %}


		{% for job in jobs.finished %}
		<tr>
			<td>{{ job }}</td>
			<td class="center">finished</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h2>Error:{{ jobs.message }}</h2>
{% endif %}
{% endif %}
