{% extends "news/news_base.html" %}

{% block grid_content %}
<div id="wrapper">
	

	
	<div id="content" class="xgrid">
		
		<div class="x12">
			
			<h2>统计信息</h2>
				
				<table class="data display">
					<thead>
						<tr>
							<th></th>
							<th>今天</th>
							<th>昨天</th>
							<th>本周</th>
							<th>本月</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>新闻</td>
							{% for new in news %}
							<td>{{new}}</td>
							{% endfor %}
						</tr>
						<tr class="even gradeC">
							<td>博客</td>
							{% for blog in blogs %}
							<td>{{blog}}</td>
							{% endfor %}
						</tr>
						<tr class="odd gradeA">
							<td>论坛</td>
							{% for b in bbs %}
							<td>{{b}}</td>
							{% endfor %}
						</tr>
					</tbody>
					</table>
					
					<br /><br /><br />
					
					<h2>最新舆情</h2>
				
				<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>最新舆情</th>
							
							<th>时间</th>
							<th>网站</th>
						</tr>
					</thead>
					<tbody>
						{% for i in results %}
						<tr class="odd gradeX">
							<td><a href="{{i.url}}">{{i.title}}</a></td>
							<td class="center">{{i.publish_datetime}}</td>
							<td class="center">{{i.name}}</td>
						</tr>
						{% endfor %}
											</tbody>
				</table>
			
		</div> <!-- .x12 -->
		
	</div> <!-- #content -->
	
</div> <!-- #wrapper -->



		{% endblock %}
