<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Dossier - Homepage</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<link rel="stylesheet" href="/static/dossier/style.css" type="text/css" media="all">

<script src="/static/dossier/jquery.min.js" type="text/javascript"></script>
</head>

<body>
<div class="logo">
    <a><img src="/static/dossier/images/logo.png" alt="Everything you need to know"></a>
</div>
<div class="content">
	<div class="wrap">
        <div class="post">
        	<h2>帮助</h2>
            <p>本软件为POAS舆情分析系统手机客户端，手机端目前支持以下功能:</p>
			<ol>
				<li>热点分析</li>
				<li>传播分析</li>
				<li>专题检测</li>
				<li>来源分析</li>
				<li>信息预警</li>
			</ol>
           <div class="post-info">帮助更新日期：<a href="#">2012.8.1</a> <span>|</span> by <a href="#">POAS</a> </div>
         </div>
			<p>&nbsp;</p>
         </div>
        <div class="post">
        	<h2>关于我们</h2>
        <p>	我们是重庆大学POAS网络與情检测与分析系统团队。</p>
          <div class="post-info">信息更新日期：<a href="#">2012.8.1</a> <span>|</span> by <a href="#">POAS</a> </div>

            <figure></figure>&nbsp;</div>
        <div class="post">
        	<h2>版权与免费使用声明</h2>
            <p>版本号：1.0</p>
			<p>版权声明：</p>
			<p>免费使用声明：</p>
			 <div class="post-info">信息更新日期：<a href="#">2012.8.1</a> <span>|</span> by <a href="#">POAS</a> </div>

            <figure></figure>
&nbsp;</div>
        <div class="post">
         </div>
    </div>
</div>
<div class="footer">
	<div class="wrap bot-bar">
    	&copy; 2012 by POAS         <div class="clear-both"></div>
        &nbsp;</div>
</div>
<script type="text/javascript">
	$('.menu').hide();
	$('.menu-show').show();
	$('.menu-hide').hide();
	$('.menu-show').click(function(){
		$('.menu-show').toggle();
		$('.menu-hide').toggle();
		$('.menu').slideDown();
	});
	$('.menu-hide').click(function(){
		$('.menu-hide').toggle();
		$('.menu-show').toggle();
		$('.menu').slideUp();
	});
</script>
<a href="http://www.mobifreaks.com" title="site design by Mobifreaks.com"></a>
</body>
</html>
