{% extends "wap/base.html" %}
{% block content %}

{% load i18n notifications_unread %}

<h3 class="header">站内信 (未读:{% notifications_unread %})   
</h3>

<div class="activities">
	{% for action in action_list %}
	{# display action only when action_object exists #}
	{% if action.action_object %}
	<div class="accordion_container" style="min-height:100px;">
		<div class="body">
			<h2 class="accordion_panel active">
				<i class="{% if action.readed %}icon-mail{% else %}icon-mail-alt{% endif %}"></i>

				<h3>
					{% if action.actor.get_absolute_url %}
					{{ action.actor }}
					{% endif %}
					{{ action.verb }}
					{{ action.target }}
				</h3>

				<div class="accordion_content" style="display: block; "> 
					{% if action.description %}
					<div class="message">
						<p>
						{{ action.description }}
						</p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% empty %}
		无信息.
		{% endfor %}
	</div>
<a class="btn-icon btn-grey btn-comment" href="../read_all">标记所有为已读</a>
	{% endblock %}

