{% extends "base.html" %}
{% block content %}
<div id="header">
	{% include "cs_admin_header.html" %}
	<script>
		document.getElementById("nav_address").className = "nav_current nav_icon"; 
	</script>
</div>

<div id="content" class="xgrid">
	<div id="masthead" >
		<div class="content_pad">
			
			<h1 class="no_breadcrumbs">Crawl Server Address Setting</h1>
			
			</div> 
			
		</div>
	</div>
	<div id="content" class="xgrid">
		<div class="x5 a1">
			<h2 class>Address Settings </h2>
			<form class="form uniform" action="" method="post" accept-charset="utf8">
				{% csrf_token %}
				<style>
					.form label, .form span.label {
						display:block;
						width:80px;
					}
					.form .field_help{
						margin-left:20px;
					}
					#submit{
						margin-left:10px;
					}
					#cancel{
						margin-left:155px;
					}
					ul{
						margin-left:30px;
						color:gray;
					}
					.medium{
						display:block;
						width:230px;
					}
				</style>
				{% if notices %}
				<ul>
					{% for notice in notices %}
					<li>{{ notice }}</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class="field">
					<label for="server_address">IP Address</label>
					<input type="text" name="server_address" placeholder="{{ settings.server_address }}" id="server_address" class="medium"/>
				</div>
				<div class="field">
					<label for="server_port">Server Port</label>
					<input type="text" name="server_port" placeholder="{{ settings.server_port }}" id="server_port" class="medium"/>
				</div>
				<div class="field">
					<label for="spider_port">Server Port</label>
					<input type="text" name="spider_port" placeholder="{{ settings.spider_port }}" id="spider_port" class="medium"/>
				</div>
				<button id="submit" type="submit" class="btn-icon btn-grey btn-check"><span></span>Accept</button>
				<button align="right" id="cancel" click="javascript: window.location.reload();" class="btn-icon btn-grey btn-minus" ><span></span>Cancel</button>
			</form>
		</div>
		<div class="x6">
			<h2>Crawl Server Information</h2>
			{% include "server_info_table.html" %}
		</div>
	</div>
</div>
{% endblock %}
