{% extends "notifications/list_base.html" %}
{% load i18n notifications_unread %}

{% block head %}<title>站内信</title>{% endblock %}


{% block grid_content %}

<h2 class="header">
	未读：{% notifications_unread %}
</h2>

<div class="activities">
	{% for action in action_list %}
	<div class="" style="min-height:20px;">
		<div class="body">
			<h4 text-align="right">
				{{ action.actor }} 发送于 {{action.timesince}}之前
				</br>
				<i class="{% if action.readed %}icon-mail{% else %}icon-mail-alt{% endif %}"> </i>

					{{ action.description|linebreaksbr}}
			</h4>
		</div>
	</div>
	{% endfor %}
</div>
<a class="btn-icon btn-grey btn-comment" href="{% url notifications_read_all %}">标记所有为已读</a>
{% endblock %}
