{% extends "base.html" %}
{% load i18n notifications_unread %}

{% block head %}<title>站内信</title>{% endblock %}

{% block content %}
    <h2 class="header">站内信 (未读：{% notifications_unread %})   
 </h2>

    <div class="activities">
        {% for action in action_list %}
            {# display action only when action_object exists #}
            {% if action.action_object %}
                <div class="accordion_container" style="min-height:100px;">
                    <div class="body">
												<h2 class="accordion_panel active">

                                <i class="{% if action.readed %}icon-mail{% else %}icon-mail-alt{% endif %}"></i>
                                {% if action.actor.get_absolute_url %}
                                    <a>{{ action.actor }}</a>
                                {% endif %}

                                <a>{{ action.verb }}<a>

                                <a>{{ action.target }}</a>

</h2>
<div class="accordion_content" style="display: block; "> 
				                      {% if action.description %}
                                <div class="message">
<p>
                                    {{ action.description|linebreaksbr }}
   
</p>
                             </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            无信息.
        {% endfor %}
    </div>
<a class="btn-icon btn-grey btn-comment" href="{% url notifications_read_all %}">标记所有为已读</a>
{% endblock %}
